﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    .container {
        width: 60% !important
    }
</style>

<div class="jumbotron">
    <h1>IT Web App</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<figure class="highlight">
    <pre><code class="language-scss" data-lang="scss"><span class="c1">// Extra small devices (portrait phones, less than 576px)</span>
    <span class="c1">// No media query since this is the default in Bootstrap</span>
    <span class="c1">// Small devices (landscape phones, 576px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">576px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Medium devices (tablets, 768px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">768px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Large devices (desktops, 992px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">992px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Extra large devices (large desktops, 1200px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">1200px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
</code></pre>
</figure>
<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>
<p>Welcome</p>
<figure class="highlight">
    <pre><code class="language-scss" data-lang="scss"><span class="c1">// Extra small devices (portrait phones, less than 576px)</span>
    <span class="c1">// No media query since this is the default in Bootstrap</span>

    <span class="c1">// Small devices (landscape phones, 576px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">576px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Medium devices (tablets, 768px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">768px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Large devices (desktops, 992px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">992px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Extra large devices (large desktops, 1200px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">1200px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre>
</figure>

<p>Since we write our source CSS in Sass, all our media queries are available via Sass mixins:</p>