﻿@{
    ViewBag.Title = "Outils IT";
}
<style>
    .container {
        width: 60% !important
    }
</style>
<h3>@ViewBag.Title</h3>

<pre><code><img src="@Url.Content(@"~/Content/Images/test.jpg")" width="100%" height="200px" class="img-fluid" alt="Responsive image"></code></pre>

<figure class="highlight">
    <pre><code class="language-scss" data-lang="scss"><span class="c1">// Extra small devices (portrait phones, less than 576px)</span>
    <span class="c1">// No media query since this is the default in Bootstrap</span>
    <span class="c1">// Small devices (landscape phones, 576px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">576px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Medium devices (tablets, 768px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">768px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Large devices (desktops, 992px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">992px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Extra large devices (large desktops, 1200px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">1200px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
</code></pre>
</figure>
<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>
<p>Welcome</p>
<figure class="highlight">
    <pre><code class="language-scss" data-lang="scss"><span class="c1">// Extra small devices (portrait phones, less than 576px)</span>
    <span class="c1">// No media query since this is the default in Bootstrap</span>

    <span class="c1">// Small devices (landscape phones, 576px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">576px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Medium devices (tablets, 768px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">768px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Large devices (desktops, 992px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">992px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

    <span class="c1">// Extra large devices (large desktops, 1200px and up)</span>
    <span class="k"></span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">1200px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre>
</figure>

<p>Since we write our source CSS in Sass, all our media queries are available via Sass mixins:</p>

@using (Html.BeginForm("FormMethod", "IT", FormMethod.Post))
{
    <h3>@ViewBag.Go</h3>
}

@using (Html.BeginForm("FormMethod", "IT", FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}